<app-navbar></app-navbar>
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(../../../assets/images/wallhaven-pk8dye_1920x1080.png);" data-aos="fade">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-5 mx-auto mt-lg-5 text-center">
              <h1>Welcome To Garage Rental</h1>
              <p class="mb-5"><strong class="text-white">$2,000,000</strong></p>
              
            </div>
          </div>
        </div>
  
        <a href="#property-details" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
      </div>  
  
      
      
      <div class="site-section" id="property-details">
        <div class="container">
          <div class="row">

            <div class="col-lg-6" >
              <div class="owl-carousel slide-one-item with-dots">
                <div style="height:43em;"><img style="height:45em;" src="../../../assets/images/{{userService.garage.image1}}" alt="Image" class="img-fluid"style="width:100%; height: 48em;"></div>
                <div style="height:43em;"><img style="height:45em;" src="../../../assets/images/{{userService.garage.image2}}" alt="Image" class="img-fluid"style="width:100%; height: 48em;"></div>
                <div style="height:43em;"><img style="height:45em;" src="../../../assets/images/{{userService.garage.image1}}" alt="Image" class="img-fluid"style="width:100%; height: 48em;"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div> <h1 >Garage Name:<strong style=" color: #37cfa2;"> {{ userService.garage.garagE_NAME }}</strong> </h1></div>
              <br>
              <div><H2 >Rent Price :<strong style=" color: #37cfa2;">{{  userService.garage.renT_PRICE }}$</strong></H2></div><br>
              <div><h2>Available From :<strong style=" color: #37cfa2;">{{userService.garage.availablE_FROM }}</strong></h2> </div><br>
              <div><h2>Available To :<strong style=" color: #37cfa2;"> {{  userService.garage.availablE_TO }}</strong></h2></div><br>
              <div><h2>Street :<strong style=" color: #37cfa2;">{{  userService.garage.street }}</strong></h2></div><br>
              <div><h2>Building Number :<strong style=" color: #37cfa2;">{{  userService.garage.buildinG_NUMBER }} </strong></h2></div><br>
              <div><h2>Garage Mode :<strong style=" color: #37cfa2;">{{  userService.garage.garagE_MODE }}</strong> </h2></div><br>
             
              <button href="#"  style="width:50%;" class="btn btn-primary"(click)="openVisaDailog()">Add Visa</button>
              
              <button style="width:50%;" href="#" class="btn btn-primary"(click)="openCarDailog()">Select Car</button>
              <button href="#"  style="width:50%;" class="btn btn-primary"(click)="openCreateDailog()">Rent</button>
            </div>

           
  
          
  
            </div>
          </div>
        </div>
      
  <app-footer></app-footer>

  <ng-template #callCreateDailog>
        

        
        <div class="content">
          <div class="container-fluid">
  
  <h2 mat-dialog-title>Rent Garage</h2>
    <mat-dialog-content class="mat-typography">
      <form class="example-form" [formGroup]="createForm" >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Start Time</mat-label>
          <input type="number" matInput formControlName="starT_TIME" />
          <mat-error *ngIf="createForm.controls['starT_TIME'].hasError('required')">
            Start time is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>End Time</mat-label>
          <input type="number" matInput formControlName="enD_TIME" />
          <mat-error *ngIf="createForm.controls['enD_TIME'].hasError('required')">
              End time is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br />
        
          
       
  
        <br />
      
        <br />
      </form>
  
    
      

    
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
      <button
        mat-button
        [mat-dialog-close]="true"
        cdkFocusInitial
        (click)="saveData()"class="btn btn-primary"
      >
        RENT
      </button>
    </mat-dialog-actions>
  
  
  
  </div>
  </div>
  

    
    </ng-template>


    <ng-template #callVisaDailog>
        

        
      <div class="content">
        <div class="container-fluid">

<h2 mat-dialog-title>ADD VISA</h2>
  <mat-dialog-content class="mat-typography">
    <form class="example-form" [formGroup]="CheckVisa" >
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>visA_NUMBER</mat-label>
        <input type="number" matInput formControlName="visA_NUMBER" />

        
      </mat-form-field>

    
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>CVC/CVV</mat-label>
            <input type="number" matInput formControlName="cvC_CVV" />
    
            
          </mat-form-field>
     
    </form>

    <br />
    
    

  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      (click)="Visa()"class="btn btn-primary"
    >
    Add Visa
  </button>
    
  </mat-dialog-actions>



</div>
</div>


  
  </ng-template>

  <!-- car  -->
  <ng-template #callCarDailog>
        

        
    <div class="content">
      <div class="container-fluid">

<h2 mat-dialog-title>Select Car For Rent</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form" [formGroup]="CheckCar" >
    <!-- <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>visA_NUMBER</mat-label>
      <input type="number" matInput formControlName="visA_NUMBER" />
      
      
    </mat-form-field> -->
    
<mat-form-field appearance="fill">
  <mat-label>Select Car Type </mat-label>
  <mat-select formControlName="caR_TYPE">
    <mat-option type="text" *ngFor="let obj of userService.car"  [value]="obj.caR_TYPE">
      {{obj.caR_TYPE}}
    </mat-option>
  </mat-select>
</mat-form-field>

   

<mat-form-field appearance="fill">
  <mat-label>Select Car Plate</mat-label>
  <mat-select formControlName="caR_PLATE">
    <mat-option type="text" *ngFor="let obj of userService.car"  [value]="obj.caR_PLATE">
      {{obj.caR_PLATE}}
    </mat-option>
  </mat-select>
</mat-form-field>
        
   
  </form>

  <br />
  
  


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
 
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="Car()"class="btn btn-primary"
  >
  Select
</button>
  
</mat-dialog-actions>



</div>
</div>



</ng-template>
  <!-- <ng-template #callVisaDailog>
        

        
    <div class="content">
      <div class="container-fluid">

<h2 mat-dialog-title>ADD VISA</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form" [formGroup]="ChangeAmount" >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>visA_ID</mat-label>
      <input type="number" matInput formControlName="visA_ID" />
      <mat-error *ngIf="ChangeAmount.controls['visA_ID'].hasError('required')">
        visA_ID <strong>required</strong>
      </mat-error>

    </mat-form-field>

    <p-dropdown [options]="userService.visa" [(ngModel)]="userService.visa.visA_NUMBER" optionLabel="name"></p-dropdown>
    <br />
    <br />
  </form>


  


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    class="btn btn-primary"
  >
    Add Visa
  </button>
</mat-dialog-actions>



</div>
</div>



</ng-template> -->
    
