              <mat-dialog-content class="mat-typography">
                <form class="example-form" [formGroup]="createFormContactUs" 
                style="box-shadow: 0px 14px 59px -3px rgba(0,0,0,0.1); border-radius: 20px; width: 560px;">
                <div style="padding: 50px; ">
                  <mat-form-field class="example-form" appearance="fill" >
                    <mat-label style="border-bottom: none; width:500px;">name</mat-label>
                    <input style="color: black;" type="text" matInput formControlName="name">
                    <mat-error style="border-bottom: none; width:500px;" *ngIf="createFormContactUs.controls['name'].hasError('required')">
                      name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <br>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>email</mat-label>
                      <input type="text" matInput formControlName="email">
                      <mat-error *ngIf="createFormContactUs.controls['email'].hasError('required')">
                        email is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  <br>
              <mat-form-field class="example-full-width" appearance="fill" >
                <mat-label>phone Number</mat-label>
                <input type="number" matInput formControlName="phonE_NUMBER">
                <mat-error *ngIf="createFormContactUs.controls['phonE_NUMBER'].hasError('required')">
                  phone Number <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <br>
                    <mat-form-field class="example-full-width" appearance="fill"  >
                      <mat-label>message</mat-label>
                      <input type="text" matInput formControlName="message">
                      <mat-error *ngIf="createFormContactUs.controls['message'].hasError('required')">
                        message <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <br>
                  </div>
                  <mat-dialog-actions style="padding: 20px; margin-left: 190px;" align="end">
                    <button class="btn btn-primary px-5 py-3" style=" border-radius: 31px;line-height: 14px;" mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="saveDataContactUs()">ADD</button>
                  </mat-dialog-actions><br><br><br><br>
                  </form>
              </mat-dialog-content>


