      
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-5">
                  <h2 class="footer-heading mb-4">About Us</h2>
                  <div *ngFor="let obj of home.Aboutus">
                    <p class="lead">{{obj.message}}.</p>

                  </div>
                </div>
                <div class="col-md-3 mx-auto">
                  <h2 class="footer-heading mb-4">Quick Links</h2>
                  <ul class="list-unstyled">
                    <li><a href="http://localhost:4200/#:~:text=GARAGE-,ABOUT%20US,-GARAGE%20RENT">About Us</a></li>
                    <li><a href="http://localhost:4200/#:~:text=01-,.,-FIND%20A%20GARAGE">How It Works</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="http://localhost:4200/#:~:text=CONTCT-,US,-name%20*">Contact Us</a></li>
                  </ul>
                </div>
                
              </div>
            </div>
            <div class="col-md-4">
             
              
              <div class="">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
  
  
            </div>
          </div>
          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <div class="border-top pt-5">
              <!-- Link back to Free-Template.co can't be removed. Template is licensed under CC BY 3.0. -->
              <p class="copyright"><small>&copy; <script>document.write(new Date().getFullYear());</script> Warehouse. All Rights Reserved.  Design by <a href="https://free-template.co" target="_blank">Free-Template.co</a></small></p>
              </div>
            </div>
            
          </div>
        </div>
      </footer>