<div class="sidebar" data-color="purple" style="     background: linear-gradient(to bottom, #4d8893 , #c5c5c5 ); "  >
     <div class="logo">
      <a href="#" class="simple-text logo-normal"><b>Garage Rental</b></a>
     </div>
     <div class="sidebar-wrapper">
       <ul class="nav">
        <li class="nav-item active  ">
          <!-- <a class="nav-link"style="background: linear-gradient(60deg, #065f45, #065f45);"> -->
          <a class="nav-link" href="javascript:void(0)" style="background-color:#346c76;">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/Admin/users" >
            <i class="material-icons">dashboard</i>
            <p>User Details</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/Admin/garage" >
            <i class="material-icons">dashboard</i>
            <p>Manage Garage</p>
          </a>
        </li>
        <li class="nav-item  ">
            <button style="
          margin: 10px 16px 0;
          border-radius: 3px;
          color: #ffffff;
          text-transform: capitalize;
          text-align: left;
          font-size: 13px;
          width: 87%;
          padding: 10px 13px;"
          class="nav-link dropdown-toggle" mat-button [matMenuTriggerFor]="menu"><i  class="fa fa-plus-square-o" aria-hidden="true"></i>Pages</button>
            <div class="dropdown-menu dropdown-menu-dark" style="background-color:#1a2035;color:white;width:89%">
              <mat-menu #menu="matMenu"  style="background-color:#1a2035;color:white;width:87%">
              <button class="nav-link" routerLink="/Admin/home" mat-menu-item><i class="fa fa-home" aria-hidden="true"></i>Homa</button>
              <button class="nav-link" routerLink="/Admin/aboutUs" mat-menu-item><i class="fa fa-buysellads" aria-hidden="true"></i>About us</button>
              <button class="nav-link" routerLink="/Admin/contactUs" mat-menu-item><i class="fa fa-connectdevelop" aria-hidden="true"></i>Countact us</button>
              <button class="nav-link" routerLink="/Admin/testimonial" mat-menu-item><i class="fa fa-check-square-o" aria-hidden="true"></i>Testimonial</button>
            </mat-menu>
            </div>
          </li>
          <li class="nav-item ">
            <a routerLink="/Admin/payment" class="nav-link" >
                <i class="fa fa-money" aria-hidden="true"></i>
              <p>Payments</p>
            </a>
          </li>
          <li class="nav-item  dropdown ">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Reports</a>

            <div class="dropdown-menu dropdown-menu-dark" style="background-color:#1a2035;color:white;width:89%">
                <a asp-action="Reports" asp-controller="DashBoard" class="nav-link" > 
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    <p>Monthly</p>
                </a>
                <a asp-action="Reports_Annual" asp-controller="DashBoard" class="nav-link" > 
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    <p>Annual</p>
                </a>                 
            </div>
        </li>
      </ul>
  </div>
</div>