<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar-dash></app-navbar-dash>
    <div class="content">
      <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Contact Us page</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body table-responsive">
      <p-table
        #dt1
        [value]="home.testimonial"
        [globalFilterFields]="['id', 'opinion', 'rating', 'status']"
      >
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <span class="p-input-icon-left p-ml-auto">

              <input
                #textInput
                pInputText
                type="text"
                (input)="dt1.filterGlobal(textInput.value, 'contains')"
                placeholder="Search keyword"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>
              ID
              <p-columnFilter
                type="number"
                field="id"
                display="menu"
              ></p-columnFilter>
            </th>
            <th>
              Opinion<p-columnFilter
                type="text"
                field="opinion"
                display="menu"
              ></p-columnFilter>
            </th>
            <th>
              Rating<p-columnFilter
                type="number"
                field="rating"
                display="menu"
              ></p-columnFilter>
            </th>
            <th>
              Status<p-columnFilter
                type="text"
                field="status"
                display="menu"
              ></p-columnFilter>
            </th>
            <th>USER ID</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-obj>
          <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.opinion }}</td>
            <td>{{ obj.rating }}</td>
            <td>{{ obj.status }}</td>
            <td>{{ obj.useR_ID }}</td>
            <td>
              <button class="btn btn-primary" (click)="openUpdateDailog(obj)">
                Update
              </button>
              <button class="btn btn-danger" (click)="openDeleteDailog(obj.id)">
                Delete
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>       
</div>
</div>


<app-footer-dash></app-footer-dash>
</div>
</div>
<ng-template #callDeleteDailog>
  <h2>Are you sure you want to delete this item ?</h2>
  <button mat-dialog-close="yes">Yes</button>
  <button mat-dialog-close="no">No</button>
</ng-template>

<ng-template #callUpdatDailog>
  <form class="example-form" [formGroup]="updateForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Status</mat-label>
      <!-- <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select> -->

      <!-- <mat-label>Select an option</mat-label>
  <mat-select  [(ngModel)]="p_data.status">
    <mat-option>None</mat-option>
    <mat-option value="option1">Accsept</mat-option>
    <mat-option  matInput [(ngModel)]="p_data.status"
    formControlName="status" value="option2">Reject</mat-option>
    <mat-option  matInput [(ngModel)]="p_data.status"
    formControlName="status" value="option3">Reject</mat-option>
  </mat-select> -->
      <input
        type="text" mat-menu-item
        matInput
        formControlName="status"
        [(ngModel)]="p_data.status"
      />
      <mat-error *ngIf="updateForm.controls['status'].hasError('required')">
        status is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br />
  </form>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      (click)="saveDataTestimonial()"
    >
      Save
    </button>
  </mat-dialog-actions>
</ng-template>
