<br />
<br />
  <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h1 class="section-title bg-white text-center   mb-5">About Us <hr /></h1>
  </div>
 

   <section class="site-section" style="margin-top:-78px;" id="about-section">
    <div class="container">
      
      <div class="row large-gutters">
        <div class="col-lg-6 mb-5">

            <div class="owl-carousel slide-one-item with-dots">
                <div><img src="../../../assets/images/img_1.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></div>
                <div><img src="../../../assets/images/img_2.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></div>
                <div><img src="../../../assets/images/img_3.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></div>
              </div>

        </div>
        <div class="col-lg-6 ml-auto" *ngFor="let obj of home.Aboutus" >

          <h2 class="section-title mb-3">{{obj.name}}</h2>
              <p class="lead">{{obj.message}}.</p>
              <!-- <p>Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit  Quo suscipit omnis iste velit maxime.</p> -->
              <div class="col-md-5">
                <div class="p-4 mb-3 bg-white">
                  <p class="mb-0 font-weight-bold">Email Address</p>
                  <p class="mb-4"><a href="">{{obj.email}}</a></p>

                  <p class="mb-0 font-weight-bold">Phone</p>
                  <p class="mb-4"><a href="">{{obj.phonE_NUMBER}}</a></p>

                  <p class="mb-0 font-weight-bold">Address</p>
                  <p class="mb-0">{{obj.address}}</p>
                </div>
              </div>
              <!-- <ul class="list-unstyled ul-check success">
                <li>{{obj.email}}</li>
                <li>{{obj.phonE_NUMBER}}</li>
                <li>{{obj.address}}</li>
              </ul> -->

              <!-- <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p> -->
          
        </div>
      </div>
    </div>
  </section>