<body style="background-color: #f8fafb;" data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
    <div class="site-wrap" style="background-color: #f8fafb;">
      <app-navbar></app-navbar>
      <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(../../../assets/Login/images/hero_2.jpg);" data-aos="fade">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-5 mx-auto mt-lg-5 text-center">
              <h1>HD17 19 Utica Ave, New York, USA</h1>
              <p class="mb-5"><strong class="text-white">$2,000,000</strong></p>
              
            </div>
          </div>
        </div>
  
        <a href="#property-details" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
      </div>  
<div class="content" style="padding: 4rem 0;">
    <div class="container">
        <div class="row justify-content-center">
            <!-- <div class="col-md-6 order-md-2">
              <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
            </div> -->
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4">
                                <h3>Sign In to <strong>Colorlib</strong></h3>
                                <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
                            </div>

                            <h2 mat-dialog-title>Add Testimonial</h2>
                            <mat-dialog-content class="mat-typography">
                               <form class="example-form" [formGroup]="registerForm" >
                            
                                
                                  
                              
                                <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>firsT_NAME</mat-label>
                                  <input type="text" matInput formControlName="firsT_NAME">
                                  <mat-error *ngIf="registerForm.controls['firsT_NAME'].hasError('required')">
                                    firsT_NAME is <strong>required</strong>
                                  </mat-error>
                                </mat-form-field>
                                <br>
                                <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>lasT_NAME</mat-label>
                                  <input type="text" matInput formControlName="lasT_NAME">
                                  <mat-error *ngIf="registerForm.controls['lasT_NAME'].hasError('required')">
                                    lasT_NAME is <strong>required</strong>
                                  </mat-error>
                                </mat-form-field>
                                <br>
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>email</mat-label>
                                    <input type="text" matInput formControlName="email">
                                    <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                                      email is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                            <br>
                                  <mat-form-field class="example-full-width" appearance="fill"  >
                                    <mat-label>password</mat-label>
                                    <input type="text" matInput formControlName="password">
                                    <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                                      password <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                                  <br>

                                  <br>
                                  <mat-form-field class="example-full-width" appearance="fill"  >
                                    <mat-label>phonenumber</mat-label>
                                    <input type="number" matInput formControlName="phonenumber">
                                    <mat-error *ngIf="registerForm.controls['phonenumber'].hasError('required')">
                                      phonenumber <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                                  <br>

                                  <br>
              
                                  <input type="file" #file5 formControlName="useR_IMAGE" (change)="uploadFile(file5.files) " >
                                   
                                
                                  <br>
                                  <mat-form-field class="example-full-width" appearance="fill" >
                                    <mat-label>useR_IDENTITY</mat-label>
                                    <input type="text" matInput formControlName="useR_IDENTITY">
                                    <mat-error *ngIf="registerForm.controls['useR_IDENTITY'].hasError('required')">
                                      useR_IDENTITY <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                                  <br>
                                  <p style="text-align: center;cursor: pointer;" (click)="goToLogin()">Already have account</p>
                                  <br>
                                </form>
                            </mat-dialog-content>
                            <mat-dialog-actions align="end">
                              <button mat-button mat-dialog-close>Cancel</button>
                              <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="submit()" >ADD</button>
                            </mat-dialog-actions>

                            <!-- <form  [formGroup]="registerForm">
                              
                              
                              <div class="form-group first">
                                <mat-label>First Name</mat-label>
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                  <mat-form-field class="example-full-width">
                                    <input type="text" matInput  formControlName="firsT_NAME" />
                                    <mat-error *ngIf="registerForm.controls['firsT_NAME'].hasError('required')">
                                      First Name is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                                  
                                </div>
                              </div>
                               
                              <div class="form-group first">
                                <mat-label>Last Name</mat-label>
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                  <mat-form-field class="example-full-width">
                                    <input type="text" matInput  formControlName="lasT_NAME" />
                                    <mat-error *ngIf="registerForm.controls['lasT_NAME'].hasError('required')">
                                      Last Name is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                                  
                                </div>
                              </div>
                              
                              <div class="form-group first">
                                <mat-label>Email</mat-label>
                                <div class="input_field"> <span aria-hidden="true" class="fa fa-envelope"></span>
                                <mat-form-field class="example-full-width">
                                <input type="email" matInput name="email" formControlName="email" />
                                <mat-error *ngIf="registerForm.controls['email'].hasError('required') ">
                                  Email is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="registerForm.controls['email'].hasError('email') ">
                                  Please enter a valid email address
                                </mat-error>
                              </mat-form-field>
                              </div>
                              </div>

                              <div class="form-group first">
                                <mat-label>Password</mat-label>
                           <div class="input_field"><span><i aria-hidden="true" class="fa fa-lock"></i></span>
                             <mat-form-field class="example-full-width">
                               <input matInput type="password" name="password" formControlName="password" />
                               <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
                                 Please enter a strong password
                               </mat-error>
                               <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                                 password is <strong>required</strong>
                               </mat-error>
                             </mat-form-field>
                           </div>
                              </div>

                                
                              <div class="form-group first">
                                <mat-label>Phone Number</mat-label>
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                  <mat-form-field class="example-full-width">
                                    <input type="text" matInput  formControlName="phonenumber" />
                                    <mat-error *ngIf="registerForm.controls['phonenumber'].hasError('required')">
                                      Phone number is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                                  
                                </div>
                              </div>

                                <div>
                                  <input type="file" #file formControlName="useR_IMAGE" (change)="uploadFile(file.files) " [(ngModel)]="p_data.useR_IMAGE">
                                  
                                </div>
                              
                              <div class="form-group first">
                                <mat-label>User Identity</mat-label>
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                  <mat-form-field class="example-full-width">
                                    <input type="text" matInput  formControlName="useR_IDENTITY" />
                                    <mat-error *ngIf="registerForm.controls['useR_IDENTITY'].hasError('required')">
                                      User Identity is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                                  
                                  
                                </div>
                              </div>
                              <div class="form-group first">
                                <mat-label>roleS_ID</mat-label>
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                  <mat-form-field class="example-full-width">
                                    <input type="text" matInput  formControlName="roleS_ID" />
                                    <mat-error *ngIf="registerForm.controls['roleS_ID'].hasError('required')">
                                      roleS_ID is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                                  
                                  
                                </div>
                              </div>

                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-0">
                                        <span class="caption">Remember me</span>
                                        <input type="checkbox" checked="checked" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                                  </div>

                              <mat-dialog-actions align="end">

                                <button [disabled]="!registerForm.valid" mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="submit()"
                                type="submit" value="Register" class="btn btn-pill text-white btn-block btn-primary">Register </button>

                              </mat-dialog-actions>
                                <p style="text-align: center;cursor: pointer;" (click)="goToLogin()">Already have account</p>
                                <span class="d-block text-center my-4 text-muted"> or sign in with</span>

                                <div class="social-login text-center">
                                    <a href="#" class="facebook">
                                        <span class="icon-facebook mr-3"></span>
                                    </a>
                                    <a href="#" class="twitter">
                                        <span class="icon-twitter mr-3"></span>
                                    </a>
                                    <a href="#" class="google">
                                        <span class="icon-google mr-3"></span>
                                    </a>
                                </div>

                            </form> -->
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



<script>
    $(function() {
	'use strict';

	
  $('.form-control').on('input', function() {
	  var $field = $(this).closest('.form-group');
	  if (this.value) {
	    $field.addClass('field--not-empty');
	  } else {
	    $field.removeClass('field--not-empty');
	  }
	});

});
</script>

<script src="../../../assets/Login/js/jquery-3.3.1.min.js"></script>
<script src="../../../assets/Login/js/popper.min.js"> </script>
<script src="../../../assets/Login/js/bootstrap.min.js"></script>
<script src="../../../assets/Login/js/main.js"></script>

<app-footer></app-footer>
</div> <!-- .site-wrap -->

<a href="#top" class="gototop"><span class="icon-angle-double-up"></span></a> 
</body>
