<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <!-- Navbar -->
    <app-navbar-dash></app-navbar-dash>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <!-- your content here -->

        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">store</i>
                </div>
                <p class="card-category">Number Of Users</p>
                <h3 class="card-title">{{usersNumber}}

                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">update</i> Just Updated
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">content_copy</i>
                </div>
                <p class="card-category">Number Of Garages</p>
                <h3 class="card-title">{{gargesNumber}}</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">update</i> Just Updated
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">info_outline</i>
                </div>
                <p class="card-category">Number of Waiting Garages</p>
                <h3 class="card-title">{{watingGargesNumber}}</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">update</i> Just Updated
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-users"></i>
                </div>
                <p class="card-category">Total Profits</p>
                <h3 class="card-title">{{profitsCount}}$</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">update</i> Just Updated
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row gy-5">
          <div class="col-6">
            <div class="p-3 bg-light">
              <mat-card class="mx-auto">
                <p-chart type="doughnut" [data]="data" [style]="{'width': '10%'}"></p-chart>
              </mat-card>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 bg-light">
              <mat-card class="mx-auto">
                <p-chart type="pie" [data]="pieData" [style]="{'width': '10%'}"></p-chart>
              </mat-card>
            </div>
          </div>
        </div>



        <p-table #dt [columns]="monthlyProfit" [value]="monthlyProfit" selectionMode="multiple"
          [exportHeader]="'customExportHeader'" [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="caption">
            <div class="flex">
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="ExportToCsv(0)" class="mr-2"
                pTooltip="CSV" tooltipPosition="bottom"></button>
              <span class="mx-3">Yearly Report</span>
              <!-- <button type="button" pButton pRipple icon="pi pi-file" (click)="exportExcel()"
                class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button> -->
              <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button> -->

            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Month</th>
              <th>Profit</th>
              <th>Monthly Report</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-col>
            <tr>
              <td> {{col.month}} </td>
              <td>{{col.profit}} </td>
              <td><button type="button" pButton pRipple icon="pi pi-file-excel" (click)="ExportToCsv(col.month)"
                  class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
