.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;

  }

  .cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000;
    overflow: auto;
    pointer-events: auto;  
  }